{% extends "CloudFrontBundle::base.html.twig" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <h1 class="text-center"> Password Reset</h1>
    <div class="col-md-4 col-sm-3">

    </div>
    <div class="col-md-4 col-sm-6">
        {{ form(form_password_reset) }}
    </div>

{% endblock %}
