{% extends "CloudFrontBundle::base.html.twig" %}

{% block content %}
<div class="row" >
    {% for form in forms %}
    <div class="row">
        {{  form(form) }}
    </div>
    {% endfor %}
</div>
<div class="row">
    <h2>Infos</h2>
    Roles: {{ app.user.getRoles|join(',') }}
</div>



{% endblock %}