{% extends "CloudFrontBundle::base.html.twig" %}

{% block content %}
<div class="row" >
    {% for form in forms %}
    <div class="col-md-12">
        {{  form(form) }}
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Infos</h2>
        Roles: {{ app.user.getRoles|join(',') }}
    </div>
</div>



{% endblock %}