{% extends "CloudFrontBundle::base.html.twig" %}

{% block content %}
<div class="row" >
    {{ form(form) }}
</div>
<div class="row">
    <h2>Infos</h2>
    Roles: {{ app.user.getRoles|join(',') }}
</div>



{% endblock %}