{% extends "CloudFrontBundle::base.html.twig" %}


{% block content %}
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th>username</th>
                <th>last modify</th>
                <th>crated at</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('admin_user',{'username':user.getUsername}) }}">{{ user.getUsername }}</a></td>
                <td>{{ user.getModifyTimestamp|date('Y-m-d h:i:s')  }}</td>
                <td>{{ user.getCreateTimestamp|date('Y-m-d h:i:s')  }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}